:root {
  --primary-color: #f9f7fe;
  --btn-color: #6c63ff;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}
body {
  text-align: center;
}
p {
  text-align: center;
}
h1 {
  font-size: 80px;
}
h1,
h2 {
  font-family: var(--heading-font);
  font-weight: bold;
}

.content {
  text-align: center;
  background-color: var(--primary-color);
  padding: 160px 20px;
  max-width: 100%;
}

.content p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.content h2 {
  font-family: var(--default-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.btn-branding {
  background-color: var(--btn-color);
  color: #f9f7fe;
  padding: 18px 40px;
  border: none;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
.btn-branding:hover {
  color: #f9f7fe;
  /* background-color: #e97f85; */
}
.btn-project {
  color: var(--btn-color);
  border: solid 1px var(--btn-color);
}
.btn-project:hover {
  color: var(--btn-color);
}
.project-description {
  padding: 60px 20px;
}
.about-section {
  text-align: left;
  padding: 100px 20px;
}
.about-section p {
  text-align: left;
}
.about-section h1 {
  font-size: 35px;
}
.about-section h2 {
  font-family: var(--default-font);
  font-weight: lighter;
  font-size: 18px;
}
.about-section-content {
  margin: 30px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .content {
    padding: 80px 20px;
  }
  .content p {
    font-size: 25px;
    font-weight: 500;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section p {
    text-align: center;
  }
}
